{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mcgreen_acres_theme/product-teaser.belgrade') }}

{% import "@mcgreen_acres_theme/macros.twig" as svg %}

{%
  set classes = [
    'product',
    'position-relative',
    'mb-3'
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="product-image position-relative text-white bg-primary">
    <div class="product-hover d-flex flex-column align-items-center justify-content-center position-absolute top-0 w-100 h-100">
      {{ svg.getIcon('eye-fill', 34, 34, 'mb-2') }}
      <div class="fs-md">{{ 'View product' }}</div>
    </div>
    {% if product_entity.field_featured.value %}
      <div class="featured-flag d-flex flex-column align-items-center justify-content-center position-absolute">
        {{ 'Featured' }}
      </div>
    {% endif %}
    {% if farmstand_available %}
      <div class="farmstand-flag d-flex flex-column align-items-center justify-content-center position-absolute">
        {{ 'Farm Stand'|t }}
      </div>
    {% endif %}
    {% if is_subscription %}
      <div class="subscription-flag d-flex flex-column align-items-center justify-content-center position-absolute">
        {{ 'Subscription'|t }}
      </div>
    {% endif %}
    {{- product.images -}}
    {{- product.variation_images -}}

  </div>
  <div class="product-info d-flex align-items-center justify-content-between">
    <div class="product-title fw-bold">{{ product.title }}</div>
    <a href="{{ product_url }}" class="stretched-link"></a>
    {{- product|without('title', 'variation_attributes', 'images', 'variation_images') -}}
  </div>
  {% if add_to_cart_form or choose_options_url or all_out_of_stock %}
    <div class="product-card__actions position-relative">
      {% if add_to_cart_form %}
        {{ add_to_cart_form }}
      {% elseif choose_options_url %}
        <a href="{{ choose_options_url }}" class="btn btn-outline-primary btn-sm w-100">{{ 'Choose Options'|t }}</a>
      {% elseif all_out_of_stock %}
        <button class="btn btn-secondary btn-sm w-100" disabled>{{ 'Out of Stock'|t }}</button>
      {% endif %}
    </div>
  {% endif %}
</article>
