{#
/**
 * @file
 * Default theme implementation to format the simplenews newsletter body.
 *
 * Copy this file in your theme directory to create a custom themed body.
 * Rename it to override it. Available templates:
 *   simplenews-newsletter-body--[newsletter_id].html.twig
 *   simplenews-newsletter-body--[view mode].html.twig
 *   simplenews-newsletter-body--[newsletter_id]--[view mode].html.twig
 * See README.txt for more details.
 *
 * Available variables:
 * - title: Node title
 * - build: The rendered newsletter issue entity.
 * - reason: (optional) Translated text explaining why the subscriber is
 *   receiving this newsletter.
 * - unsubscribe_text: (optional) Translated text to describe the subscribe
 *   link, which is available as [simplenews-subscriber:unsubscribe-url]. If
 *   this variable isn't set then the link is likely to be unavailable.
 * - test_message: (optional) Translated text that if set describes that this
 *   is a test version of the newsletter
 * - format: newsletter format [plain|html]
 * - newsletter: object(Drupal\simplenews\Entity\Newsletter)
 *     {{ newsletter.from_name }}: string
 *     {{ newsletter.subject }}: string
 *
 * Less recommended variables that normally shouldn't be needed:
 * - node: The issue entity that was rendered to create {{ build }}, hence
 *   shouldn't normally need to be accessed again. There is limited access to
 *   object properties and methods.
 * - view_mode: The active display view mode of the node
 * - key: email key [node|test|extra]
 * - simplenews_subscriber: object(Drupal\simplenews\Entity\Subscriber)
 *   The subscriber for which the newsletter is built.
 *     {{ simplenews_subscriber.getMail  }}: string: subscriber's email address
 *   Note that depending on the used caching strategy, the generated body might
 *   be used for multiple subscribers. If you created personalized newsletters
 *   and can't use tokens for that, make sure to disable caching or write a
 *   custom caching strategy implementation.
 *
 * @see template_preprocess_simplenews_newsletter_body()
 */
#}

{% set site_name = 'McGreen Acres' %}
{% set site_address = url('<front>') %}
{% set support_email = 'info@mcgreenacres.com' %}

{% if format == 'html' %}
<table role="presentation" cellpadding="0" cellspacing="0" class="container" style="background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 6px rgba(0,0,0,0.08);">

  <tr>
    <td style="padding:8px 24px 18px 24px; color:#505050; font-size:16px; line-height:22px;">
      <!-- main content area -->



  {% if test_message %}
    <p class="simplenews-test-message" style="color: red; font-weight: bold;">{{ test_message }}</p>
  {% endif %}
{% else %}
  {% if test_message %}
    - - - {{ test_message }} - - -
  {% endif %}
{% endif %}

{{ build }}

{% if format == 'html' %}

      </td>
    </tr>
    <!-- Footer -->
    <!-- Header -->
    <tr>
      <td style="padding:20px 24px; background-color:#ffffff; text-align:center; width:100%;">
        <img src="{{ site_address }}/themes/custom/mcgreen_acres_theme/logo.png" alt="McGreen Acres Logo" width="120" style="border:0; display:inline-block; max-width:195px; height:auto;">
      </td>
    </tr>
    <tr>
      <td style="padding:18px 24px; background-color:#F4F9FF; color:#707070; font-size:13px; line-height:18px; text-align:center;">
        {% if reason or unsubscribe_text %}
          <p class="newsletter-footer" style="margin:0 0 8px 0;">
            {{ reason }}
            {% if unsubscribe_text %}
              Want to change how you receive our emails? <a href="[simplenews-subscriber:unsubscribe-url]">{{ unsubscribe_text }}</a>
            {% endif %}
          </p>
        {% endif %}
        <p style="margin:0 0 8px 0;">
          McGreen Acres LLC 2414 Westmoreland Rd Red Oak, TX 75154-5816 USA
        </p>
        <p style="margin:0 0 8px 0;">
          <a href="{{ site_address }}" style="color:#707070; text-decoration:underline;">{{ site_address }}</a>
        </p>
        <p style="margin:0 0 8px 0;">
           (469) 248-5703
        </p>
        <p style="margin:0 0 8px 0;">Copyright &copy; {{ "now"|date('Y') }} McGreen Acres LLC. All rights reserved.</p>
        <p> This email was intended for {{ simplenews_subscriber.getMail }}. If you have received this in error, please ignore it.</p>
        <p style="margin:0;">If you have questions, reply to this email or contact us at <a href="mailto:{{support_email}}" style="color:#707070; text-decoration:underline;">{{support_email}}</a>.</p>

      </td>
    </tr>

  </table>
{% else %}
  {{ reason }}
  {% if unsubscribe_text %}
    -- {{ unsubscribe_text }} : [simplenews-subscriber:unsubscribe-url]
  {% endif %}
{% endif %}
